# Python virtual environments
backend/linkedin_ai_backend/

# Python cache
**/__pycache__/
**/*.pyc
backend/.pytest_cache/

# Node / Angular
frontend/node_modules/
frontend/dist/

# Secrets
backend/.env

# Editors/OS
.vscode/
.DS_Store
